<header>
    <ul>
        <li><a href="/">Home</a></li>

        <li style="float:right"><a class="active" href="/logout">Log out</a></li>
        <li style="float:right">
            <a style="pointer-events: none;">Hello,
                <b style="font-size: 17px;">
                    <%=username%>
                </b>
            </a>
        </li>
    </ul>
</header>

<body>